body {
    background-color: #ffffff;
    line-height: 1.6;
    padding-top: 150px;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #a2d5ff;
    border-radius: 8px;

}

.container h1 {
    text-align: left
}

.form-group {
    background-color: rgb(234, 234, 234);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 25px;
    transition: transform 0.2s ease;
}

.form-group label {
    display: block;
    margin-bottom: 12px;
    font-weight: 500;
    color: #111316;
}

.input-form {
    border-radius: 8px;
    padding: 12px;
    border: 2px solid #e9ecef;
}

.input-form:focus {
    border-color: #e9ecef;
    box-shadow: none;
}

.btn-primary {
    background: #51a7ed !important;
    color: #ffffff !important;
    border-radius: 8px;
    padding: 12px;
    font-weight: 600;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
}

.btn-primary:hover {
    background: #3977fc !important;
}

.btn-success {
    background: #3977fc;
    border-radius: 8px;
    padding: 12px;
    font-weight: 600;
    border: none;
}

.btn-secondary {
    background: #79bef6 !important;
    color: #ffffff !important;
    border-radius: 8px;
    padding: 12px;
    font-weight: 600;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
}

.btn-secondary:hover {
    background: #749ffa !important;
}

