body {
    background-color: rgb(184, 213, 184);
    line-height: 1.6;
    padding-top: 150px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}

.container h1 {
    text-align: left

}

.form-group {
    background-color: rgb(237, 237, 237);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 25px;
    transition: transform 0.2s ease;
}

.form-group label {
    display: block;
    margin-bottom: 12px;
    font-weight: 500;
    color: #111316;
}

.input-form {
    border-radius: 8px;
    padding: 12px;
    border: 2px solid #e9ecef;
}

.input-form:focus {
    border-color: #e9ecef;
    box-shadow: none;
}

.btn-primary {
    background: #ffffff !important;
    color: #000000 !important;
    border-radius: 8px;
    padding: 12px;
    font-weight: 600;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
}

.btn-primary:hover {
    background: #f0f0f0 !important;
}

.btn-success {
    background: #9a9a9a;
    border-radius: 8px;
    padding: 12px;
    font-weight: 600;
    border: none;
}