body {
    background-color: rgb(184, 213, 184);
    padding-top: 150px;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}

.form {
    background-color: rgb(188, 188, 188);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    

}